:root{
    font-size: 62.5%;
    font-family:'Roboto',sans-serif;
    text-align: center;
    --first-color: white;
    --second-color: rgb(221, 221, 221);
    --third-color: rgb(51, 51, 51);
    --fourth-color: rgb(76, 88, 102);
}
.back-white{
    background-color: var(--first-color);
}

.fs30px{
    font-size: 30px;
}
.fs14px{
    font-size: 14px;
}
.fs16px{
    font-size: 16px;
}
.fs18px{
    font-size:18px;
}
.fs24px{
    font-size:24px;
}
.header{
    font-size: 2em;
}
.tx-decoration{
    text-decoration: none;
}
.clr1{
    color:var(--fourth-color);
}
.clr-button1{
    color:rgba(120, 117, 254, 1);
    background-color: var(--first-color);
    border-color: rgba(120, 117, 254, 1);
}
.clr2{
    background-color: #EBEBEB;
}
.version{
    font-size: 16px;
    font-weight: 500;
    color: #666;
}
.versionp{
    color: #85859B;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    font-style: normal;
}
.section1h2{
    font-size: 16px;
}
.section1p1{
    font-size: 30px;
    font-weight: 400;
    color: #4C5866;
    font-size: normal;
    line-height: 100%;
}
.section1p2{
    font-size: 14px;
    font-weight: 400;
    color: #85859B;
    font-size: normal;
    line-height: 150%;
}
.border{
    border: 1px solid #7875FE;
}
.button-catalog{
    font-size: 18px;
    font-style: normal;
    color: #7875FE;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.section3h2{
    font-size: 24px;
    font-weight: 400;
    color: #666;
    font-size: normal;
    line-height: 100%;
}
.section3p{
    font-size: 16px;
    font-weight: 400;
    color: #85859B;
    font-size: normal;
    line-height: 170%;
}
.section4h3{
    font-size: 24px;
    font-weight: 400;
    color: #666;
    font-size: normal;
    line-height: 170%;
}
.section4p1{
    font-size: 14px;
    font-weight: 400;
    color: #B5B5BD;
    font-size: normal;
    line-height: normal;
}
.section4p2{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    color: #85859B;
}
.section4a{
    color: #7875FE;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.border_for_company{
    border: 1px solid #C4C4C4;
}