html, body {
    overflow-x: hidden;
    min-width: 320px;
}
a {
    text-decoration: none;
}
p{
    width: 100%;
}
button{
    cursor: pointer;
    background-color: white;
}
button:hover{

}
:root{
    font-size: 62.5%;
    font-family:'Roboto',sans-serif;
    box-sizing: border-box;
    --color1:#EBEBEB;
    --color2:#666;
    --color3:#85859B;
    --color4:#7875fe;
    --color5:#4C5866;
    --color6:#B5B5BD;
    --color7:#C4C4C4;
    --color8:white;

}
.header{
    font-size: 2rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}
.header-h2{
    margin-top: 0;
    margin-bottom: 0;
}
.header-section-2{
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    align-items: center;
    margin-right: 2rem;
    margin-left: 2rem;

}
.header-button{
    display:flex;
    flex-direction: row;
    gap:30px;
}
.header-section2-button1{
    border:0;
    
}
.header-section2-button2{
    margin-inline-start: auto;
    margin-right: 5%;
    border:0;
}
.nav-a{
    display: none;
}
.simple-img{
    padding-bottom: 10px;
}
.header-section2-button3{
    border:0;
}
.clr1{
    color:var(--fourth-color);
}
.clr-button1{
    color:var(--color4);
    background-color: var(--color8);
    border-color: var(--color4);
}
.clr2{
    background-color:var(--color1);
}
.version{
    font-size: 1.6rem;
    color: var(--color2);
    margin:0;
}
.versionp{
    color: var(--color3);
    font-size: 1.6rem;
    line-height: 2.1rem;
    white-space: pre-line;
    line-height: 150%;
    margin:0;
    width: 13rem;
}
.main-div1{
    margin: 4.9rem 1.6rem 4.9rem 1.5rem;
    width: 320px;
}
.main-back-img{
    display: none;
    justify-items: end;
}
.div1-img{
    display: none;
}
.main-div-div{
}
.section1h2{
    font-size: 3rem;
    color: var(--color5);
    line-height: 3rem;
    font-weight: 400;
}
.section1p2{
    font-size: 1.4rem;
    color: var(--color3);
    line-height: 2.1rem;
    font-weight: 400;
    margin-top: 1.5rem;
    margin-bottom: 2.1rem;
    padding-right: 20px;
}

.button-catalog{
    font-size: 1.8rem;
    color: var(--color4);
    text-decoration: none;
    padding: 2rem 5rem;
    border: 0.1rem solid var(--color4);
}
.button-catalog1{
    font-size: 1.8rem;
    color: var(--color4);
    text-decoration: none;
    padding: 2rem 5rem;
    border: 0.1rem solid var(--color4);
}
.main-div2{
    padding: 6rem 1.5rem;
}
.main-div3{
    height: 116px;
    
}
.grid-main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(263px, 1fr));
    justify-items: center;
    padding: 20px;
    gap:10px;
}
.result {
    border-top: 1px solid var(--text-color);
    display: flex;
}
.line{
    width: 150px;
    height: 1px;
    flex-shrink: 0;
    background: #C0C0C0;
}
.results {
    padding: 60px 0;
}
    
.edition {
    font-size: 1.4rem;
}
    
.paper {
    margin-top: 20px;
}
.marg-version{
    margin: 3.2rem 0 1.2rem 3rem;
}
.ul-style{
    list-style-type: none;
    padding: 0;
    display: inline-block;
    
}
.li-div1{
    width: 13rem;
    height: 9.6rem;
    display: inline-block;
}
.li-img-style{
    width: 130px;
    height: 96px;
    display: inline-block;
    float:left;
    margin-right: 3rem;
}
.li-h3-style{
    
    text-indent:2rem;
    margin-bottom: 2rem;
    width: 290px;
    height: 116px;
}
.div-inline{
    display: inline-block;
}
.div-div{
    width: 13rem;
    height: 7.2rem;
    padding: 3.2rem 0 3.2rem;
    float:left;
}
.li-h3-style1{
    white-space: nowrap;
    text-indent:2rem;
}
.section3h2{
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--color2);
    line-height: 3rem;
    margin: 2rem 2rem 0 0;
}
.section3divel{
    margin-top: 1.4rem;
    padding-right: 15px;
}
.div3-img{
    width: 290px;
    height: 223px;
}
.section3p{
    font-size: 1.6rem;
    color: var(--color3);
    line-height: 170%;
    padding-top:10px;
    margin:auto;
}
.section3{
    margin:6rem 1.5rem;
}
.section3img{
    text-align: center;
    padding-top: 10px;
}
.section4img{
    text-align: center;
}
.section4h3{
    font-size: 2.4rem;
    color: var(--color2);
    white-space: nowrap;
    margin:0;
}
.section4p1{
    font-size: 1.4rem;
    color: var(--color6);
    margin:0;
}
.section4p2{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 170%;
    color: var(--color3);
    margin:0;
}
.section4a{
    color: var(--color4);
    font-size: 2rem;
    font-weight: 400;
    line-height: 180%;
    text-decoration: none;
}
.section5divglav{
    display: flex;
    width: 70rem;
    height: 9rem;
}
.sectionback5{
    display: flex;
    background-color: var(--color1);
    overflow-x: auto;
    width: 100%;
    height: 160px;
    align-items: center;
    justify-content: space-between;
    
}
.sectionback{
    background-color: var(--color1);
    overflow-x: auto;
    width: 100%;
    height: 160px;
    overflow: hidden;
}
.sectionback1{
    background-color: var(--color1);
    overflow-x: auto;
    width: 100%;
}
.section4-div1{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 5px;
}
.section4-divok{

}
.section4div1{
    display: inline-block;
    width:15rem;
    height: 9rem;
    margin-right: 10px;
    margin-left: 10px;
}
.section4div2{
    display: inline-block;
    width:15rem;
    height: 9rem;
    margin-right: 10px;
    margin-left: 10px;
}
.section4divpadding1{
    height: 9rem;
    width: 15rem;
    justify-content: center;
    padding: 20.148px 17.059px 27.259px 17.059px;
}
.section4divpadding2{
    height: 9rem;
    width: 15rem;
    justify-content: center;
    padding: 24.296px 20px 24.296px 20.588px;
}
.section4divpadding3{
    justify-content: center;
    padding: 0px 8.824px;
    height: 9rem;
    width: 15rem;
}
.section4divpadding4{
    justify-content: center;
    padding: 0px 13.529px;
    height: 9rem;
    width: 15rem;
}
.border_for_company{
    border: 0.1rem solid var(--color7);
}
.border_for_company1{
    border: 0.1rem solid var(--color7);
}
.section6div{
    margin: 6rem 1.5rem 6rem 1.5rem;
}
.section6h3{
    color: var(--color2);
    font-size: 2.4rem;
    font-weight: 400;
    margin: 0 10.9rem 0 0;
}
.section6p{
    color: var(--color3);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 170%;
    margin: 2rem 0 3rem 0;
}
.img62{
    display: none;
}
.section7{
    background-color: var(--color5);
}
.section7p1{
    color: var(--color8);
    font-family: 'Ubuntu',sans-serif;
    font-size: 2rem;
    font-weight: 300;
    line-height: 100%;
}
.footer{
    color: var(--color5);
    font-size: 1.4rem;
    text-align: center;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    margin:0.3rem 0 0.3rem;
}
.footer_grid{
    background-color: var(--color5);
    width: 100%;
    height: 100%;
    padding-top: 10px;
}
.footer_grid_a{
    text-decoration: none;
    color: var(--color1);
    font-size: medium;
}
.footer_1{
    text-align: center;
}
.footer-div{
    display: grid;

    background-color: var(--color5);
    width: 100%;
    height: 100%;
    padding:2rem 9rem 0 9rem;
}
.footer-div_1{
    background-color: var(--color5);
    width: 100%;
    height: 100%;
    padding:2rem 9rem 0 9rem;
}
.footer-div1{
    background-color: var(--color5);
    display: inline-block;
    width: 100%;
    height: 100%;
}
.footer-img1{
    padding:4.1rem 3rem 2rem 5rem;
}
.navigator_a_style{
    color: var(--color4);
    font-size: 110%;
    font-weight: 400;
    line-height: 100%;
    text-decoration: none;
}
.navigator{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    list-style-type: none;
    padding-left: 25%;
}
.footer-img2{
    margin:4.1rem 3rem 2rem 0;
}
.footer-img3{
    margin:4.1rem 5rem 2rem 0;
}
.wrapper{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
.grid_main_div{
    
}
.grid_main_div2{
    
}
.grid_div_img3{
}
.container {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}
  
.left-grid { width: 20%;
 background-color: var(--color6);
}
  
.img {  display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    grid-auto-flow: row;
    justify-items: stretch;
    align-items: stretch;
  }
  
  .img1 { grid-area: 1 / 1 / 2 / 7; }
  
  .img2 { grid-area: 2 / 1 / 3 / 4; }
  
  .img3 { grid-area: 2 / 4 / 3 / 7; }
  
  .img4 { grid-area: 2 / 4 / 3 / 7; }
  
  .img5 { grid-area: 3 / 1 / 4 / 4; }
  
  .img6 { grid-area: 3 / 4 / 4 / 7; }
  
.container1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    gap:3px;
}
.grid_container{
    display: grid;
    place-items: center;
    grid-template-areas: 'a';
}
.link_grid{
    grid-area: a;
}
.footer-grid {  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 50px 0px;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  background-color: var(--color5);
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-grid1 {
    grid-area: 1 / 1 / 2 / 4;
     }

.footer-grid2 {
    grid-area: 2 / 1 / 3 / 4;
     }

.footer-grid3 {  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 20px;
  grid-auto-flow: row;
  grid-area: 3 / 1 / 4 / 4;
}

.social1 { grid-area: 1 / 1 / 4 / 2; }

.social2 { grid-area: 1 / 2 / 4 / 3; }

.social3 { grid-area: 1 / 3 / 4 / 4; }

.social4 { grid-area: 1 / 4 / 4 / 5; }
.nav-a3{
    display: none;
}
.div1-img2{
    display: none;
}
.img63{
    display: none;
}
@media (min-width:1440px){
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
    .div1-img2{
        display: none;
    }
    .med1{
        display: flex;
        gap:30px;
    }
    .simple-img{
    }
    .header-section-2{
        display: flex;
        justify-content: space-around;
        gap:60px;
        align-items: flex-start;
        margin:0;
    }
    .header-section2-button1{
        display: none;
    }
    .grid-main{
        padding:90px;
    }
    .main-div1{
        margin:0;
        height: 620px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding:6rem 16.5rem 0 16.5rem;
    }
    .section1h2{
        color: var(--color5);
        font-size: 60px;
        font-weight: 400;
        line-height: 100%;
        margin:0;
    }
    .section1p2{
        margin:0;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
    }
    .button-catalog{
        display: flex;
        width: 255px;
        height: 70px;
        padding: 20px 50px;
        justify-content: center;
        align-items: center;
        gap: 6px;
    }
    .result1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap:30px;
    }
    .result{
        display: flex;
        height: 118px;
        justify-content: center;
        align-items: center;
        gap: 30px;
        flex-shrink: 0;
    }
    .div1-img{
        display: flex;
        align-items: flex-end;
        max-width: 100%;
        max-height: 100%;
    }
    .main-div-div{
        display: flex;
        width: 445px;
        padding-bottom: 1px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;
    }
    .nav-a{
        display: flex;
        white-space: nowrap;
        gap: 60px;
    }
    .nav-a3{
        display: none;
    }
    .a-nav{
        color: var(--color5);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .main-div2{
        display: flex;
        flex-direction: column;
        gap:90px;
    }
    .section3{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
    }
    .section3img{
    }
    .div3-img{
        width: 730px;
        height: 564px;
        
    }
    .sectionback5{
        height: 100%;
        padding-top: 9rem;
        padding-bottom: 9rem;
        align-items: center;
        justify-content: center;
    }
    .section3divel{
        display: flex;
        width: 350px;
        height: 445px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        
    }
    .section5divglav{
        display: flex;
        overflow: hidden;
        width: 1440px;
        height: 135px;
        padding: 0px 165px;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;
        flex-shrink: 0;
    }
    .section4div2{
        display: flex;
        width: 255px;
        height: 135px;
        padding: 0px 15px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }
    .section4divpadding2{
        width: 255px;
        height: 135px;
    }
    .section4-div1{
        width: 255px;
    }
    .section6div{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        margin-top: 9rem;
        margin-bottom: 0;
    }
    .div6{
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 272px;
    }
    .section6h3{
        font-size: 40px;
        font-weight: 400;
        line-height: 100%;
        white-space: nowrap;
    }
    .section6p{
        font-size: 18px;
        font-weight: 400;
        line-height: 170%;
    }
    .button-catalog1{
        display: flex;
        width: 255px;
        height: 70px;
        padding: 20px 50px;
        justify-content: center;
        align-items: center;
        gap: 6px;
        flex-shrink: 0;
    }
    .div6-img{
        display: flex;
        
    }
    .img6{
        display:none;
    }
    .img62{
        display: flex;
        width: 730px;
        height: 100%;
        flex-shrink: 0;
    }
    .footer-grid{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .img63{
        display: none;
    }
}
@media (min-width:576px) and (max-width:1439px){
    a{
        text-decoration: none;
        color:#4C5866
    }
    .nav{
        display: flex;
        justify-content: space-between;
        margin-left: 30px;
        margin-right: 5px;
    }
    .header-section2-button1{
        display: none;
    }
    .nav-a{
        display: none;
    }
    .nav-a3{
        display: flex;
        justify-content: space-between;
        margin:10px 30px 0 30px;
    }
    .div1-img2{
        display: flex;
        align-items: end;
    }
    .main-div-div{
        display: flex;
        width: 390px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }
    .section1p2{
        margin: 0;
    }
    .main-div1{
        margin:0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 60px 39px 0 39px;
        gap:30px;
    }
    .section1h2{
        margin: 0;
        color: #4C5866;
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
    }
    .button-catalog{
        display: flex;
        width: 255px;
        height: 70px;
        padding: 20px 50px;
        justify-content: center;
        align-items: center;
        gap: 6px;
    }
    .main-div2{
        padding: 60px 39px;
    }
    .result1{
        display: flex;
        justify-content: space-evenly;
        
    }
    .result{
        display:flex;
        width: 210px;
        height: 219px;
        flex-direction: column;
        align-items: center;
    }
    .marg-version{
        margin: 0;
    }
    .paper{
        margin: 0;
        width: 160px;
        height: 118px;
        flex-shrink: 0;
    }
    .section3{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(330px,1fr));
        margin:0;
        margin-top:40px;
        gap:30px;
    }
    .section3img{
        display: flex;
        justify-content: space-between;
    }
    .div3-img{
        width: 330px;
        height: 255px;
        flex-shrink: 0;
        margin-left: 1%;
    }
    .section3divel{
        display: flex;
        min-width: 330px;
        max-width: 510px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2%;
    }
    .section3h2{
        font-size: 30px;
        font-weight: 400;
        line-height: 100%;
        margin: 0;
    }
    .section3p{
        font-size: 18px;
        font-weight: 400;
        line-height: 170%;
    }
    .sectionback5{
        width: auto;
        height: 284px;
        overflow: hidden;
    }
    .section5divglav{
        display: flex;
        width: auto;
        height: 284px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .section4div2{
        display: flex;
        width: 240px;
        height: auto;
        justify-content: center;
        align-items: center;
        margin:0;
    }
    .border_for_company{
        border: 1px solid #C4C4C4;
    }
    .border_for_company1{
        border: 1px solid #C4C4C4;
    }
    .section4divpadding2{
        width: 185.412px;
        
        flex-shrink: 0;
    }
    .img63{
        display:flex;
    }
    .img6{
        display: none;
    }
    .div6-img{
        display: flex;
        justify-content: center;
    }
    .section6div{
        display: flex;
        flex-direction: column;
    }
    .section6h3{
        margin: 0;
        font-size: 24px;
        font-weight: 400;
        line-height: 100%;
    }
    .section6p{
        width: 510px;
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 170%;
        padding-bottom: 10px;
    }
    .div6{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex-shrink: 0;
        gap: 20px;
        
    }
    .button-catalog1{
        display: flex;
        width: 196px;
        height: 60px;
        padding: 20px 50px;
        justify-content: center;
        align-items: center;
        gap: 6px;
        flex-shrink: 0;
    }
    .footer-grid{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }  
}
@media (min-width:768px) and (max-width:1439px) {
    .sectionback5{
        justify-content: center;
        height: 200px;
    }
    .section5divglav{
        display: flex;
        width: 690px;
        height: 80px;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;
        flex-shrink: 0;
        flex-wrap: nowrap;
    }
    .section4div2{
        display: flex;
        width: 150px;
        height: 80px;
        justify-content: center;
    }
    .border_for_company{
        border: 1px solid #C4C4C4;
    }
    .border_for_company1{
        border: 1px solid #C4C4C4;
    }
    .section4divpadding2{
        display: flex;
        height: 80px;
        width: 150px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        padding: 15px;
    }
    .img63{
        display:flex;
    }
    .img6{
        display: none;
    }
    .div6-img{
        display: flex;
        justify-content: center;
    }
    .section6div{
        display: inline-flex;
        flex-direction: row-reverse;
        padding: 60px 0px 0px 39px;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 30px;
        margin:0;
    }
    .section6h3{
        margin: 0;
        font-size: 30px;
        font-weight: 400;
        line-height: 100%;
    }
    .section6p{
        width: 330px;
        margin: 0;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
    }
    .div6{
        width: 330px;
        
    }
    .button-catalog1{
        display: flex;
        width: 255px;
        height: 70px;
        padding: 20px 50px;
        justify-content: center;
        align-items: center;
        gap: 6px;
        flex-shrink: 0;
    }
}